<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Book store</title>
</head>

<body>
    <h1>Book store</h1>
    <div id="app">
        <h2>List of all books</h2>
        <ul v-if="books">
            <li v-for="book in books.slice(books.length-5,books.length)">
                <!-- shows last 5 books -->
                {{book.id}}, {{book.title}}, ${{ book.price}}
            </li>
        </ul>
        <div v-else>No books</div>


        <h3>Book table</h3>
        <div class="container">
            <table class="table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tr v-for="book in books.slice(books.length-5,books.length)">
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>${{book.price}}</td>
                </tr>
            </table>
        </div>
        <h2>Book by id</h2>
        <input v-model="bookId" placeholder="id" type="number">
        <button v-on:click="getBookById(bookId)" class="btn btn-primary">Get Book</button>
        <div v-if="singleBook">{{ singleBook }}</div>
        <div v-else>No such book</div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>